{{ header }}
<style>
  .leftside {
    width: 35%;
    min-width: 200px;
    background-color: #0192D3;
    float: left;
  }
  .leftside .leftside-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    border-bottom: 1px solid #fff;
    height: 60px;
  }
  .leftside .leftside-header span {
    color: #fff;
    font-size: 20px;
  }
  .leftside .leftside-body {
    height: 500px;
    overflow-y: auto;
  }
  .leftside .leftside-body .leftside-body-item {
    padding: 25px;
    font-size: 17px;
    color: #fff;
    background-color: #0172AC;
  }
  .leftside .leftside-body .leftside-body-item.active {
    background-color: #00B741;
  }
  .rightside {
    width: 65%;
    min-width: 500px;
    background-color: #0083C1;
    float: left;
    min-height: 560px;
  }
  .rightside .rightside-body {
    padding: 5px;
    min-height: 560px;
  }
  .rightside .rightside-body .rightside-body-button-row {
    padding: 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .rightside-body-button {
    background-color: #005E8E;
    color: #fff;
    border-radius: 10px;
    padding: 10px 25px;
    border: none;
  }
  .rightside-body-button:hover {
    color: #fff;
  }
  .rightside .rightside-body .rightside-body-operator-item {
    background-color: #0192D3;
    padding: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .rightside .rightside-body .rightside-body-operator-item .rightside-body-operator-item-left img {
    border-radius: 50%;
    border: 1px solid #fff;
  }
  .rightside .rightside-body .rightside-body-operator-item .rightside-body-operator-item-left span {
    margin-left: 15px;
  }
  .rightside .rightside-body .rightside-body-operator-item .rightside-body-operator-item-buttons {
  }
</style>
{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
      <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="leftside">
          <div class="leftside-header">
            <span>{{ text_settings }}</span>
          </div>
          <div class="leftside-body">
            <div class="leftside-body-item active">
              {{ text_operators }}
            </div>
          </div>
        </div>
        <div class="rightside">
          <div class="rightside-body">
            <div class="row">
              {% for operator in operators %}

                <div class="col-sm-6">
                  <div class="rightside-body-operator-item">
                    <div class="rightside-body-operator-item-left">
                      <img src="{{ operator.thumb }}" alt="">
                      <span>{{ operator.lastname }} {{ operator.firstname }}</span>
                    </div>
                    <div class="rightside-body-operator-item-buttons">
                      <a href="{{ editOperator }}&user_id={{ operator.user_id }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-default"><i class="fa fa-pencil"></i></a>
                      <a href="{{ deleteOperator }}&user_id={{ operator.user_id }}" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                    </div>
                  </div>
                </div>

              {% endfor %}
            </div>

            <div class="rightside-body-button-row">
              <a href="{{ addOperator }}" class="rightside-body-button">{{ button_add_operator }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}