{{ header }}
<style>
  .leftside {
    width: 35%;
    min-width: 200px;
    background-color: #0192D3;
    float: left;
  }
  .leftside .leftside-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    border-bottom: 1px solid #fff;
    height: 60px;
  }
  .leftside .leftside-header span {
    color: #fff;
    font-size: 20px;
  }
  .leftside .leftside-body {
    height: 500px;
    overflow-y: auto;
  }
  .leftside .leftside-body .leftside-body-item {
    background-color: #0172AC;
  }
  .leftside .leftside-body .leftside-body-item a {
    width: 100%;
    height: 100%;
    display: block;
    padding: 25px;
    color: #fff;
    font-size: 17px;
  }
  .leftside .leftside-body .leftside-body-item.active {
    background-color: #00B741;
  }
  .rightside {
    width: 65%;
    min-width: 500px;
    background-color: #0083C1;
    float: left;
    min-height: 560px;
  }
  .rightside .rightside-body {
    padding: 5px;
    min-height: 560px;
  }
  .rightside .rightside-body .rightside-body-title {
    color: #fff;
    font-size: 16px;
    padding: 0 0 20px 0;
  }
  .rightside .rightside-body .rightside-body-form {
    background-color: #0192D3;
    padding: 10px;
  }
  .rightside .rightside-body .rightside-body-button-row {
    padding: 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .rightside-body-button {
    background-color: #005E8E;
    color: #fff;
    border-radius: 10px;
    padding: 10px 25px;
    border: none;
    margin: 0 5px;
  }
  .rightside-body-button:hover {
    color: #fff;
  }
  .rightside .rightside-body .rightside-body-operator-item {
    background-color: #0192D3;
    padding: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .rightside .rightside-body .rightside-body-operator-item .rightside-body-operator-item-left img {
    border-radius: 50%;
    border: 1px solid #fff;
  }
  .rightside .rightside-body .rightside-body-operator-item .rightside-body-operator-item-left span {
    margin-left: 15px;
  }
  .rightside-body-button.button-light {
    background-color: #0192D3;
  }
  .rightside .rightside-body .rightside-body-form .form-group + .form-group {
    border: none;
  }
  .rightside .rightside-body .rightside-body-form .form-group label {
    color: #fff;
  }
  .rightside .rightside-body .rightside-body-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 15px;
  }
</style>
{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="leftside">
          <div class="leftside-header">
            <span>{{ text_module_chat }}</span>
          </div>
          <div class="leftside-body">
            <div class="leftside-body-item {% if verticalTab == 'mainSettings' %}active{% endif %}">
              <a href="{{ mainSettingsLink }}">{{ text_main_settings }}</a>
            </div>
            <div class="leftside-body-item {% if verticalTab == 'viewDesignChat' %}active{% endif %}">
              <a href="{{ viewDesignChatLink }}">{{ text_view_design_chat }}</a>
            </div>
          </div>
        </div>
        <div class="rightside">
          <div class="rightside-body">
            {% if verticalTab == 'mainSettings' %}

              <div class="rightside-body-title">
                {{ text_main_settings }}
              </div>
              <div class="rightside-body-form">
                <form action="{{ actionMainSettings }}" method="post" enctype="multipart/form-data" id="form-main-settings" class="form-horizontal">
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="input-notification">{{ entry_notification }}</label>
                    <div class="col-sm-9">
                      <select name="notification" id="input-notification" class="form-control">
                        <option value="0" {% if chatSettings.notification == '0' %}selected{% endif %}>{{ text_sms }}</option>
                        <option value="1" {% if chatSettings.notification == '1' %}selected{% endif %}>{{ text_email }}</option>
                        <option value="2" {% if chatSettings.notification == '2' %}selected{% endif %}>{{ text_admin_panel }}</option>
                        <option value="3" {% if chatSettings.notification == '3' %}selected{% endif %}>{{ text_sms }} + {{ text_email }}</option>
                        <option value="4" {% if chatSettings.notification == '4' %}selected{% endif %}>{{ text_sms }} + {{ text_admin_panel }}</option>
                        <option value="5" {% if chatSettings.notification == '5' %}selected{% endif %}>{{ text_email }} + {{ text_admin_panel }}</option>
                        <option value="6" {% if chatSettings.notification == '6' %}selected{% endif %}>{{ text_all }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="input-chat-position">{{ entry_chat_position }}</label>
                    <div class="col-sm-9">
                      <div class="row">
                        <div class="col-sm-3">
                          <label class="control-label" for="input-chat-position-left">{{ text_left }}</label>
                          <input type="text" name="position_left" value="{{ chatSettings.position_left }}" placeholder="{{ text_left }}" id="input-chat-position-left" class="form-control" />
                        </div>
                        <div class="col-sm-3">
                          <label class="control-label" for="input-chat-position-left-unit">&nbsp;</label>
                          <select name="position_left_unit" id="input-chat-position-left-unit" class="form-control">
                            {% if chatSettings.position_left_unit == 'px' %}
                              <option value="%">{{ text_percent }}</option>
                              <option value="px" selected="selected">{{ text_pixel }}</option>
                            {% else %}
                              <option value="%" selected="selected">{{ text_percent }}</option>
                              <option value="px">{{ text_pixel }}</option>
                            {% endif %}
                          </select>
                        </div>
                        <div class="col-sm-3">
                          <label class="control-label" for="input-chat-position-right">{{ text_right }}</label>
                          <input type="text" name="position_right" value="{{ chatSettings.position_right }}" placeholder="{{ text_right }}" id="input-chat-position-right" class="form-control" />
                        </div>
                        <div class="col-sm-3">
                          <label class="control-label" for="input-chat-position-right-unit">&nbsp;</label>
                          <select name="position_right_unit" id="input-chat-position-right-unit" class="form-control">
                            {% if chatSettings.position_right_unit == 'px' %}
                              <option value="%">{{ text_percent }}</option>
                              <option value="px" selected="selected">{{ text_pixel }}</option>
                            {% else %}
                              <option value="%" selected="selected">{{ text_percent }}</option>
                              <option value="px">{{ text_pixel }}</option>
                            {% endif %}
                          </select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-3">
                          <label class="control-label" for="input-chat-position-top">{{ text_top }}</label>
                          <input type="text" name="position_top" value="{{ chatSettings.position_top }}" placeholder="{{ text_top }}" id="input-chat-position-top" class="form-control" />
                        </div>
                        <div class="col-sm-3">
                          <label class="control-label" for="input-chat-position-top-unit">&nbsp;</label>
                          <select name="position_top_unit" id="input-chat-position-top-unit" class="form-control">
                            {% if chatSettings.position_top_unit == 'px' %}
                              <option value="%">{{ text_percent }}</option>
                              <option value="px" selected="selected">{{ text_pixel }}</option>
                            {% else %}
                              <option value="%" selected="selected">{{ text_percent }}</option>
                              <option value="px">{{ text_pixel }}</option>
                            {% endif %}
                          </select>
                        </div>
                        <div class="col-sm-3">
                          <label class="control-label" for="input-chat-position-bottom">{{ text_bottom }}</label>
                          <input type="text" name="position_bottom" value="{{ chatSettings.position_bottom }}" placeholder="{{ text_right }}" id="input-chat-position-bottom" class="form-control" />
                        </div>
                        <div class="col-sm-3">
                          <label class="control-label" for="input-chat-position-bottom-unit">&nbsp;</label>
                          <select name="position_bottom_unit" id="input-chat-position-bottom-unit" class="form-control">
                            {% if chatSettings.position_bottom_unit == 'px' %}
                              <option value="%">{{ text_percent }}</option>
                              <option value="px" selected="selected">{{ text_pixel }}</option>
                            {% else %}
                              <option value="%" selected="selected">{{ text_percent }}</option>
                              <option value="px">{{ text_pixel }}</option>
                            {% endif %}
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="input-chat-initial-state">{{ entry_initial_state }}</label>
                    <div class="col-sm-9">
                      <select name="initial_state" id="input-chat-initial-state" class="form-control">
                        <option value="0" {% if chatSettings.initial_state == '0' %}selected{% endif %}>{{ text_collapsed }}</option>
                        <option value="1" {% if chatSettings.initial_state == '1' %}selected{% endif %}>{{ text_opened }}</option>
                        <option value="2" {% if chatSettings.initial_state == '2' %}selected{% endif %}>{{ text_auto_open }}</option>
                      </select>
                    </div>
                    <div class="auto-open-time-row" style="display: none;">
                      <div class="col-sm-3 col-sm-push-6" style="margin-top: 15px;">
                        <input type="text" name="auto_open_time" value="{{ chatSettings.auto_open_time }}" id="input-chat-auto-open-time" class="form-control" />
                      </div>
                      <div class="col-sm-3 col-sm-push-6" style="margin-top: 15px;">
                        <select name="auto_open_time_unit" id="input-chat-auto-open-time-unit" class="form-control">
                          <option value="seconds" {% if chatSettings.auto_open_time_unit == 'seconds' %}selected{% endif %}>{{ text_seconds }}</option>
                          <option value="minutes" {% if chatSettings.auto_open_time_unit == 'minutes' %}selected{% endif %}>{{ text_minutes }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="rightside-body-button-row">
                <button form="form-main-settings" type="submit" class="rightside-body-button button-light">{{ button_save }}</button>
                <a href="{{ cancel }}" class="rightside-body-button">{{ button_cancel }}</a>
              </div>

            {% else %}

              <div class="rightside-body-title">
                {{ text_design_chat }}
              </div>
              <div class="rightside-body-form">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-main-settings" class="form-horizontal">

                  <div class="rightside-body-card">
                    <span>Standard</span>
                    <button form="form-main-settings" type="submit" class="rightside-body-button">{{ button_select }}</button>
                  </div>

                </form>
              </div>

            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('#input-chat-initial-state').on('change', function () {
    if ($(this).val() === '2') {
        $('.auto-open-time-row').show()
        // $('#input-chat-auto-open-time').removeAttr('disabled')
        // $('#input-chat-auto-open-time-unit').removeAttr('disabled')
    } else {
        $('.auto-open-time-row').hide()
        // $('#input-chat-auto-open-time').attr('disabled', 'disabled')
        // $('#input-chat-auto-open-time-unit').attr('disabled', 'disabled')
    }
  })
</script>
{{ footer }}