{{ header }}
<style>
  .main-container {
    height: 500px;
  }
  .leftside {
    width: 35%;
    min-width: 200px;
    background-color: #0192D3;
    float: left;
  }
  .leftside .leftside-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    border-bottom: 1px solid #fff;
    height: 60px;
  }
  .leftside .leftside-header span {
    color: #fff;
    font-size: 20px;
  }
  .leftside .leftside-body {
    height: 500px;
    overflow-y: auto;
  }
  .leftside .leftside-body .leftside-body-item {
    padding: 25px;
    font-size: 17px;
    color: #fff;
    background-color: #0172AC;
  }
  .leftside .leftside-body .leftside-body-item.active {
    background-color: #00B741;
  }
  .rightside {
    width: 65%;
    min-width: 500px;
    background-color: #0083C1;
    float: left;
  }
  .rightside .rightside-body {
    padding: 20px 25px;
  }
  .rightside .rightside-body .rightside-body-title {
    color: #fff;
    font-size: 16px;
    padding: 0 0 20px 0;
  }
  .rightside .rightside-body .rightside-body-form {
    background-color: #0192D3;
    padding: 10px;
  }
  .rightside .rightside-body .rightside-body-button-row {
    padding: 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .rightside-body-button {
    background-color: #005E8E;
    color: #fff;
    border-radius: 10px;
    padding: 10px 25px;
    border: none;
    margin: 0 5px;
  }
  .rightside-body-button.button-light {
    background-color: #0192D3;
  }
  .rightside-body-button:hover {
    color: #fff;
  }
  .rightside .rightside-body .rightside-body-form .form-group + .form-group {
    border: none;
  }
  .rightside .rightside-body .rightside-body-form .form-group label {
    color: #fff;
  }
</style>
{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="main-container">
          <div class="leftside">
            <div class="leftside-header">
              <span>{{ text_settings }}</span>
            </div>
            <div class="leftside-body">
              <div class="leftside-body-item active">
                {{ text_operators }}
              </div>
            </div>
          </div>
          <div class="rightside">
            <div class="rightside-body">
              <div class="rightside-body-title">
                {{ text_operator_card }}
              </div>
              <div class="rightside-body-form">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-user" class="form-horizontal">
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="input-user-group">{{ entry_user_group }}</label>
                    <div class="col-sm-9">
                      <select name="user_group_id" id="input-user-group" class="form-control">
                        {% for user_group in user_groups %}
                          {% if user_group.user_group_id == user_group_id %}
                            <option value="{{ user_group.user_group_id }}" selected="selected">{{ user_group.name }}</option>
                          {% else %}
                            <option value="{{ user_group.user_group_id }}">{{ user_group.name }}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="input-firstname">{{ entry_firstname }}</label>
                    <div class="col-sm-9">
                      <input type="text" name="firstname" value="{{ firstname }}" placeholder="{{ entry_firstname }}" id="input-firstname" class="form-control" />
                      {% if error_firstname %}
                        <div class="text-danger">{{ error_firstname }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="input-lastname">{{ entry_lastname }}</label>
                    <div class="col-sm-9">
                      <input type="text" name="lastname" value="{{ lastname }}" placeholder="{{ entry_lastname }}" id="input-lastname" class="form-control" />
                      {% if error_lastname %}
                        <div class="text-danger">{{ error_lastname }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="input-email">{{ entry_email }}</label>
                    <div class="col-sm-9">
                      <input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
                      {% if error_email %}
                        <div class="text-danger">{{ error_email }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="input-image">{{ entry_image }}</label>
                    <div class="col-sm-9"><a href="" id="thumb-image" data-toggle="image" class="img-thumbnail"><img src="{{ thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                      <input type="hidden" name="image" value="{{ image }}" id="input-image" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="input-username">{{ entry_username }}</label>
                    <div class="col-sm-9">
                      <input type="text" name="username" value="{{ username }}" placeholder="{{ entry_username }}" id="input-username" class="form-control" />
                      {% if error_username %}
                        <div class="text-danger">{{ error_username }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="input-password">{{ entry_password }}</label>
                    <div class="col-sm-9">
                      <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" autocomplete="off" />
                      {% if error_password %}
                        <div class="text-danger">{{ error_password }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="input-status">{{ entry_status }}</label>
                    <div class="col-sm-9">
                      <select name="status" id="input-status" class="form-control">
                        {% if status %}
                          <option value="0">{{ text_disabled }}</option>
                          <option value="1" selected="selected">{{ text_enabled }}</option>
                        {% else %}
                          <option value="0" selected="selected">{{ text_disabled }}</option>
                          <option value="1">{{ text_enabled }}</option>
                        {% endif %}
                      </select>
                    </div>
                  </div>
                </form>
              </div>
              <div class="rightside-body-button-row">
                <button form="form-user" type="submit" class="rightside-body-button button-light">{{ button_save }}</button>
                <a href="{{ cancel }}" class="rightside-body-button">{{ button_cancel }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}